/*==============================================================================
VARIABLES
==============================================================================*/
/*=============================================
Colors
==============================================*/
:root {
  --white: rgb(254 254 254);
  --black: rgb(39 39 39);
  --gray: rgb(201, 201, 201);
  --green: rgb(92, 146, 10);
}
/*=============================================
Length
==============================================*/
:root {
  --standardPadding: 1.2em;
  --sectionMarginBottom: 3em;
}

/*==============================================================================
GENERAL
==============================================================================*/
body {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 344px;
}


/*==============================================================================
LAYOUT
==============================================================================*/
/*=========================================================
HEADER
=========================================================*/
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--white);
}



/*====================================
Header row 1
=====================================*/
.header__row-1 {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding: 10px;
}

/*=======================
Navigation
=======================*/
.header__nav-button {
  grid-column: 1 / 2;
  justify-self: self-start;
  align-self: center;
  font-size: 2rem;
  padding: 12px 20px;
  border: none;
}

.header__nav-button:hover,
.header__nav-button:focus {
  cursor: pointer;
}

.header__nav {
  display: block;
  font-size: 1.4rem;
  position: absolute;
  z-index: 99;
  top: 100%;
  width: 100%;
  padding: 10px;
  background: orange;

}

.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav li {
  margin-bottom: 1em;
/*   margin-left: 1em; */
}

.header__nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.header__nav a:hover {
  color: white;
  text-decoration: underline;
}

/*=======================
Logo
=======================*/
.header__logo {
  width: 44px;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
}

/*=======================
Shopping cart
=======================*/
.shopping-cart-outer {
  justify-self: self-end;
  align-self: center;
  position: relative;
}

.shopping-cart-outer__button {
  font-size: 1.5rem;
  width: 50px;

  background: none;
  border: none;
}

.shopping-cart-outer__quantity-indicator {
  color: red ;
  position: absolute;
  top: -12px;
  right: 45%;
  transform: translateX(45%);
}

.shopping-cart__button:hover,
.shopping-cart__button:focus,
.shopping-cart-outer__quantity-indicator{
  cursor: pointer;
}


.shopping-cart-inner {
  display: block;
  font-size: 1.4rem;
  position: absolute;
  z-index: 99;
  right: 0;
  width: 100%;
  height: 100vh;
  background: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-cart-inner__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.shopping-cart-inner__title{
  padding-left: 1em;
}

.shopping-cart-inner__close-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2em 1.6em; /* Bestämmer headerns höjd */
  text-transform: uppercase;
  width: 33%;
  background: black;
  color: white;
  border: none;
}


.shopping-cart-inner__close-button span {
  font-size: 1.1rem;
}

.shopping-cart-inner__item-container {
  padding: 1em;
  overflow: auto;
  height: 100%;/* annars krånglar JS-lösningen */
}

.shopping-cart-item {
  display: flex;
  
  position: relative;

  margin-bottom: 2em;
}

.shopping-cart-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  left: 0;
  bottom: -1em;
  position: absolute;

}

.shopping-cart-item__image {
  width: 20%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.shopping-cart-item__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-cart-item__summary {
  display: flex;
  justify-content: space-around;
}

.shopping-cart-item__quantity-input {
  display: flex;
  justify-content: center;
  width: 50%;
}

.shopping-cart-item__button {
  width: 20%;
}

.shopping-cart-item__quantity {
  width: 20%;
  text-align: center;
}


.shopping-cart-item__quantity-input {
  display: flex;
  flex-direction: row;
}

.shopping-cart-inner__checkout {
  background-color: blanchedalmond;
  width: 100%;
  padding: 1em;
}

.shopping-cart-inner__items-sum,
.shopping-cart-inner__items-discount,
.shopping-cart-inner__items-total-sum {
  display: flex;
  justify-content: space-between;
}

.shopping-cart-inner__items-sum {
  margin-bottom: 0.2em;
}

.shopping-cart-inner__checkout-button {
  width: 100%;
}
/*====================================
Header row 2
=====================================*/
.header__row-2 {
  display: flex;
  justify-content: center;
}

/*=======================
Search bar
=======================*/
.search-bar--header {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.search-bar__input {
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 70%;
}

.search-bar__button {
  width: 40px;
  background: var(--black);
  color: var(--white);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
}

.search-bar__button:hover {
  cursor: pointer;
}

.search-bar__button:active {
  background-color: var(--green);
}

.search-bar__input:focus {
  outline: none;
  border-top: 3px solid var(--green);
  border-right: none;
  border-bottom: 3px solid var(--green);
  border-left: 3px solid var(--green);
}

.search-bar__input:focus ~ .search-bar__button {
/*   border-top: 3px solid var(--green);
  border-right: 3px solid var(--green);
  border-bottom: 3px solid var(--green);
  border-left: none; */
}

/*====================================
Header row 3
=====================================*/
.header__row-3 {
  display: flex;

}

/*=======================
Information banner
=======================*/
.header__information-banner {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: gainsboro;
  padding: .5em;

}

/*=========================================================
MAIN
=========================================================*/
main {
  text-align: center;
  background-color: var(--white);
}

.page-title {
  margin-bottom: 0.375em;
}


.section-title {
  margin-bottom: 0.5em;
}


/*=======================
Product card
=======================*/
.product-cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
}
.product-card { 
  background-color: var(--white);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto minmax(auto, 70px) auto auto auto;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  max-width: 70%;
 
  border: 1px solid black; /* debug */
}

.product-card__button {
  
}


.product-card__image {
  border: 1px solid var(--gray);
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.product-card__rating-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5em;
}


/*====================================
CAMPAIGN SECTION
=====================================*/
.campaign-section {
  margin-bottom: 3em;

}

.campaign-color-wrapper {
  padding-top: 13em;
  padding-bottom: 0.5em;
  width: 100%;
  background-image: linear-gradient(
    210deg,
    hsl(339deg 60% 67%) 0%,
    hsl(342deg 63% 71%) 1%,
    hsl(344deg 65% 75%) 4%,
    hsl(347deg 67% 79%) 9%,
    hsl(349deg 70% 82%) 21%,
    hsl(352deg 72% 86%) 53%,
    hsl(354, 100%, 98%) 75%,
    hsl(0, 0%, 100%) 87%,
    hsl(0, 0%, 100%) 95%,
    hsl(0, 0%, 100%) 100%
  );
}
.campaign__tagline {
/*   background-color: aqua; */
  margin-bottom: 1.5em;
  padding: var(--standardPadding);
}

.campaign__tagline {
}

/*=======================
Campaign carousel
=======================*/
.carousel {
  position: relative;
}

.carousel__container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  
}
.carousel__product-card {
  background-color: var(--white);
  margin: 0 auto;
  text-align: left;
  padding: 1em;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 0.4em;
  flex: 0 0 auto;
}



.product-card__details {
  padding: 0.8em;
  margin-bottom: 0.5em;
  color: black;
}

.details__tag-line {
  margin-bottom: 1em;
}

.product-card__button {
  width: 100%;
  padding: 10px 15px;
  color: white;
  background: var(--green);
  border: 1px solid var(--green);
}

.product-card__button:hover,
.product-card__button:focus {
  background: white;
  color: var(--green);
}

.carousel__indicator {
  padding: 10px 0;
}

.carousel__next-button,
.carousel__previous-button {
  padding: .8em;
  border-radius: 50%;
  border-style: none;
  background: var(--black);
  color: var(--white);
  position: absolute;
  z-index: 99;
}

.carousel__next-button:hover,
.carousel__next-button:focus,
.carousel__previous-button:hover,
.carousel__previous-button:focus {
  background: var(--gray);
  color: var(--white);
}

.carousel__next-button {
  right: 0.3em;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__previous-button {
  left: 0.3em;
  top: 50%;
  transform: translateY(-50%);
}

/*====================================
POPULAR CATEGORIES SECTION
=====================================*/
.popular-categories-section {
  background-color: var(--white);
  margin-bottom: var(--sectionMarginBottom);
}

.popular-categories__card-container {
 /*  display: flex; */
  text-align: center;
}

.category-card {
  padding: 1em;
}

a .category-card__image {
  margin: 0 auto;
}



.category-card__details {
  align-self: center;
}

/*====================================
POPULAR PRODUCTS SECTION
=====================================*/
.popular-products-section {
 padding: var(--standardPadding);
 background-color: aqua;
}

.product-card--popular {
  width: 45%;
  padding: 0.5em;
}

.product-card__rating-container--popular {
  
}
 /*====================================
FEATURED SECTION
=====================================*/
.featured-section {
  margin-bottom: var(--sectionMarginBottom);
  padding: var(--standardPadding);
}

a .featured-card__image {
  margin: 0 auto;
  margin-bottom: .5em;
  
}
.featured-card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.featured-card__details {
  margin-bottom: 2em;
}

.featured-card__details h3 {
  font-weight: 400;
}

/*====================================
DISCOVER MORE SECTION
=====================================*/
.discover-more-section {
  margin-bottom: var(--sectionMarginBottom);
  padding: 1em;
}

.discover-more__cards-container {
  margin: 0 auto;
  overflow: hidden;
}

.discover-card {
  padding: var(--standardPadding);
  background: white;
  background-color: aquamarine;
  margin-bottom: 1em;
}

.discover-card__image-link {
  margin-bottom: 0.5em;
  width: 100%;
}

.discover-card__image {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}

.discover-card__details {
/*   margin-bottom: 1.5em; */
}

.discover-card__details h3
{
  margin-bottom: 1em;
}

.discover-card__details p {
  margin-bottom: 1.7em;
}

.discover-card__button {
  text-decoration: none;
  padding: 10px 15px;
  background-color: var(--green);
  border: 1px solid var(--green);
  color: white
}

.discover-card__button:hover,
.discover-card__button:focus {
  background-color: var(--white);
  color: var(--green);
}

/*====================================
SERVICES SECTION
=====================================*/
.services-section {
  margin-bottom: var(--sectionMarginBottom);
}
.services-card {
  margin-bottom: 1.5em;
}

a .services-card__image {
  margin: 0 auto;
  margin-bottom: 1em;
}

.services-card__details {
  padding: 1em;
}

.services-card__image {
  width: 70%;
  object-fit: cover;
  max-height: 150px;
}

.search-bar--product {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
}

.product-search-bar__input {
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 50%;
}

.product-search-bar__input:focus {
  outline: none;
  border-top: 3px solid var(--green);
  border-right: none;
  border-bottom: 3px solid var(--green);
  border-left: 3px solid var(--green);
}

.product-search-bar__button {
  width: 40px;
  background: var(--black);
  color: var(--white);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
}

.product-search-bar__button:hover {
  cursor: pointer;
}

.product-search-bar__button:active {
  background-color: var(--green);
}
/*====================================
PRODUCT SEARCH SECTION
=====================================*/
.product-search-section {
  background: var(--gray);
  padding: var(--standardPadding);
}

.product-search__details {
  margin-bottom: 1em;
}

.search-bar--product {
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
}

/*=========================================================
FOOTER
=========================================================*/
.footer {
  padding: var(--standardPadding);
  padding-bottom: 0;
  background: var(--black);
  position: relative;
  bottom: 0;

}

.footer__header {
  position: relative;
  color: var(--white);
  padding-bottom: 0.6em;
  margin-bottom: 1em;
}

.footer__header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 36px;
  border-bottom: 3px solid var(--white);
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  margin-bottom: 0.5em;
}

.footer__link {
  text-decoration: none;
  color: var(--gray);
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline 2px var(--white);
} 

.footer__social-media ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 1rem;
}

.social-media-icon {
  font-size: 2rem;
  margin-right: 0.5em;
}

.footer__hr {
  border: none;
  height: 1px;
  background-color: var(--gray);
  margin-bottom: 2rem;
}

.footer__badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4em;
}

.copyright {
  padding: 1em;
  text-align: center;
}
/*==============================================================================
MEDIA QUERY
==============================================================================*/
/* @media (max-width: 500px) {
  .header__information-banner a:nth-child(3),
.header__information-banner a:nth-child(4) {
  display: none;
  }
} */

@media (min-width: 501px) and (max-width: 800px) {

  .carousel {
    position: relative;
    width: 75%;
    margin: 0 auto;
  }

/*   .carousel__container {
    
  } */

  .carousel__product-card {
    background-color: var(--white);
    margin: 0 auto;
    text-align: left;
    padding: 1em;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 0.4em;
    flex: 0 0 auto;
  }
  
  .product-card__image {
    border: 1px solid var(--gray);
  }
  
  .product-card__details {
    padding: 0.8em;
    margin-bottom: 0.5em;
    color: black;
  }
  
  .details__tag-line {
    margin-bottom: 1em;
  }
  
  .product-card__button {
    width: 100%;
    padding: 10px 15px;
    color: white;
    background: var(--green);
    border: 1px solid var(--green);
  }
  
  .carousel__indicator {
    padding: 10px 0;
    display: flex;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  
  .carousel__next-button,
  .carousel__previous-button {
    padding: .8em;
    border-radius: 50%;
    border-style: none;
    background: var(--black);
    color: var(--white);
    position:unset;
  }
  
  .carousel__next-button {
    transform: none;
  }
  
  .carousel__previous-button {
    transform: none;
  }

  .popular-categories__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }

  .category-card {
    width: 30%;
  }  

  .category-card__image {
    height: 100px;
    object-fit: cover;
  }

  /*====================================
  popular products section
  =====================================*/
  .popular-products__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .popular-products__product-card {
    background-color: aqua;
    width: 25%;
  }

  /*====================================
  featured section
  =====================================*/
  .featured__container {
    display: flex; /* Möjligtvis byta till grid */
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .featured-card{
    width: 45%;
  }

  /*====================================
  discover more section
  =====================================*/
  .discover-more__cards-container {
    margin: 0 auto;
  }

  .discover-card__image {
    max-height: 320px;
  }

/*   .discover-card {
    margin: 0 auto;
  } */
}

@media (min-width: 801px) and (max-width: 1400px) {
  .carousel {
    position: relative;
    width: 45%;
    margin: 0 auto;
  
  }

  .carousel__container {
    
  }
  .carousel__product-card {
    background-color: var(--white);
    margin: 0 auto;
    text-align: left;
    padding: 1em;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 0.4em;
    flex: 0 0 auto;
  }
  
  .product-card__image {
    border: 1px solid var(--gray);
  }
  
  .product-card__details {
    padding: 0.8em;
    margin-bottom: 0.5em;
    color: black;
  }
  
  .details__tag-line {
    margin-bottom: 1em;
  }
  
  .product-card__button {
    width: 100%;
    padding: 10px 15px;
    color: white;
    background: var(--green);
    border: 1px solid var(--green);
  }
  
  .carousel__indicator {
    padding: 10px 0;
    display: flex;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .carousel__next-button,
  .carousel__previous-button {
    padding: .8em;
    position: unset;
  }
  
  
  .carousel__next-button {
    transform: none;
  }
  
  .carousel__previous-button {
    transform: none;
  }

  .popular-categories__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }

  .category-card {
    width: 20%;
  }  

  .category-card__image {
    height: 80px;
    object-fit: cover;
  }

  .featured__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .featured-card{
    width: 30%;
  }

  .discover-more__cards-container {
    width: 80%;
    margin: 0 auto
  }

  .discover-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
  }

  .discover-card__image-link {
   
    width: 100%;
    grid-column: 1 / 2;
    align-self: start;
    justify-self: center
  }

  .discover-card__image {
    max-height: 300px;
  }

  .discover-card__details {
    width: 80%;
    grid-column: 2 / 4;
    align-self:auto;
    justify-self: center;
  }
}






/*==============================================================================
UTILITY
==============================================================================*/
/* https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
.is-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.big-title {
  font-size: 2rem;
  margin-bottom: 2em;
}

.margin-right {
  margin-right: 6px;
}
