/*==============================================================================
VARIABLES
==============================================================================*/
/*=============================================
Colors
==============================================*/
:root {
  --white: rgb(254 254 254);
  --black: rgb(39 39 39);
  --gray: rgb(201, 201, 201);
  --green: rgb(60 95 7);
  --focus: rgb(255 197 131);
}
/*=============================================
Length
==============================================*/
:root {
  --standardPadding: 1.2em;
  --sectionMarginBottom: 3em;
}

/*==============================================================================
GENERAL
==============================================================================*/
a {
  text-decoration: none;
}

body {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 344px;
  position: relative;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

/* Prevents icons inside of buttons from "disabling" event listeners
https://stackoverflow.com/questions/26402033/missing-click-event-for-span-inside-button-element-on-firefox*/
.icon {
  pointer-events: none;
}

label:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.product-card { 
  background-color: var(--white);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 
    repeat(2, auto) 
    minmax(auto, 70px) 
    repeat(3, auto);
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  max-width: 70%;
}

.product-card__image {
  border: 1px solid var(--gray);
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.product-card__rating-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5em;
}

.product-card__button {
  width: 100%;
  padding: 10px 15px;
  color: white;
  background: var(--green);
  border: 1px solid var(--green);
}

.product-card__button:hover,
.product-card__button:focus {
  background: white;
  color: var(--green);
}

.search-bar {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.search-bar__input {
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 70%;
}

.search-bar__button {
  width: 40px;
  background: var(--black);
  color: var(--white);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
}

.search-bar__icon {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  width: 50%;
  margin: 0 auto;
}

.search-bar__button:active {
  background-color: var(--green);
}

.search-bar__input:focus {
  outline: none;
  border-top: 3px solid var(--green);
  border-right: none;
  border-bottom: 3px solid var(--green);
  border-left: 3px solid var(--green);
}

/*==============================================================================
TYPOGRAPHY
==============================================================================*/
.section-title {
  font-size: 1.7rem;
}

/*=============================================
Header
==============================================*/
.nav {
  font-size: 1.4rem;
}

.nav__link-title,
.nav__link {
  color: var(--black);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav__link-title--dropdown {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.nav__link-title:hover,
.nav__link-title--dropdown:hover {
  text-decoration: underline;
}

.nav__dropdown-button {
  font-size: 2rem;
}

/* .nav__dropdown li {
  font-size: 1rem;
} */

/*====================================
Shopping cart-outer
=====================================*/
.shopping-cart-outer__quantity-indicator {
  font-weight: 700;
}

/*====================================
Shopping cart-inner
=====================================*/
.shopping-cart-inner {
  font-size: 1.4rem;
}

.shopping-cart-inner__title{
  font-size: 1.2rem;
}

.shopping-cart-inner__close-button {
  font-size: .875rem;
  font-weight: 700;
  color: white;
}

.shopping-cart-inner__close-button span {
  font-size: 1.1rem;
}

.shopping-cart-item__total-price {
  font-size: 0.9rem;
}


.shopping-cart-inner__item-container,
.shopping-cart-inner__items-sum,
.shopping-cart-inner__items-discount,
.shopping-cart-inner__items-total-sum {
  font-size: 1rem;
}

.shopping-cart-inner__items-total-sum {
  font-weight: 700;
}

/*====================================
Information banner
=====================================*/
.header__information-banner {
  font-size: 0.9rem;
}

/*=============================================
Main
==============================================*/
.page-title {
  font-size: 2.4rem;
  margin-bottom: 0.375em;
}
/*====================================
Campaign section
=====================================*/
.section-title {
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.7rem;
  margin-bottom: 0.5em;
}

.campaign-section__description {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

/*====================================
Product card 
=====================================*/
.product-card__product-name {
  font-size: 1.2rem;
}

.product-card__description {
  font-size: 1rem;
  margin-bottom: 0.3em;
}

.product-card__price {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0.5em;
}

/*====================================
Featured product section
=====================================*/
.featured-card__product-name {
  font-weight: 400;
}
/*====================================
Discover more section
=====================================*/
.discover-card {
  text-align: left;
}

.discover-card h3{
  font-weight: 400;
  letter-spacing: 1px;
}

.discover-card__details p {
  font-size: .9rem;
}

/*====================================
Services section
=====================================*/
.product-search__title {
  margin-bottom: 0.3em;
}

/*====================================
Footer
=====================================*/
.footer__header {
  font-size: 1.3rem;
}

.footer__social-media ul {
  font-size: 1rem;
}

.social-media-icon {
  font-size: 2rem;
  margin-right: 0.5em;
}

.copyright {
  font-size: 0.75rem;
  color: white;
  text-align: center;
}

.footer__social-media ul {
  font-size: 1rem;
}

.social-media-icon {
  font-size: 2rem;
}

/*==============================================================================
LAYOUT
==============================================================================*/
/*=========================================================
HEADER
=========================================================*/
.header {
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header::after {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  background-color: var(--black);
  position: absolute;
  top: 100%;

  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  background: var(--white);
}

/*====================================
Header row 1
=====================================*/
.header__row-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: relative;
  padding: 0.625em 0;
  gap: 5px;
}

/*=======================
Navigation
=======================*/
.header__navigation-column { 
  background-color: brown; /* Debug */
  flex: 0 0 40%;
}

.nav-toggle-button {
  padding: 0.625em;
  border: none;
  background-color: transparent;
  margin-left: 0.3em
}

.nav-toggle-button__icon {
  aspect-ratio: 1 / 1;
  width: 30px;
}

.nav {
  display: block;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background: var(--white);
}

.nav:focus {
  background-color: var(--focus);
}

.nav__menu-header {
  display: none;
}


.nav__close-button {
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 1.2em 1.6em;
  text-transform: uppercase;
  max-width: 35%;
  background: black;
  border: none;
  order: -1;
  
}

.nav__links {
  margin: 0;
  padding: 0.2em;
}

.nav__link {
  position: relative;
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav__link-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__dropdown-button {
  background: transparent;
  border: none;
  width: 50%;
  text-align: right;
}

.nav__link:last-child {
  margin-bottom: 0;
}

.nav__dropdown {
  padding: 0.3em 0 0 0.8em;
  background-color: var(--white);
  width: 100%;
  display: block;
}

.nav__dropdown li {
  margin-bottom: 0.5em;
}

/*=======================
Logo
=======================*/
.header__logo-column {
  /* flex: 0 0 10%; */
  align-self: center;
  background-color: bisque; /* Debug */
}

.logo {
  width: 50px;
  margin: 0;
  padding: 0;
}

/*=======================
Shopping cart / utility
=======================*/
.header__shopping-cart-utility-column {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: blueviolet; /* Debug */
  flex: 0 0 40%;
}

.header__reveal-search-button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: black;
}

.shopping-cart-outer {
  position: relative;
}

.shopping-cart-outer__button {
  width: 50px;
  background: none;
  border: none;
  margin-right: 0.3em
}

.shopping-cart-outer__quantity-indicator {
  color: black ;
  position: absolute;
  top: -14px;
  right: 41%;
}

.shopping-cart-inner {
  display: block;
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  height: 100vh;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-cart-inner__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray);
}

.shopping-cart-inner__title{
  padding-left: 1em;
}

.shopping-cart-inner__close-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2em 1.6em;
  text-transform: uppercase;
  width: 33%;
  background: black;
  border: none;
}

.shopping-cart-inner__close-button:hover,
.shopping-cart-inner__close-button:focus {
  background-color: rgb(34, 28, 28)
}

.shopping-cart-inner__item-container {
  padding: 1em;
  overflow: auto;
  height: 100%;/* See Close / open menus in main.js for more information */
}

.shopping-cart-item {
  display: flex;
  position: relative;
  margin-bottom: 2em;
  max-height: 100px;
}

.shopping-cart-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  left: 0;
  bottom: -1em;
  position: absolute;
}

.shopping-cart-item__image {
  width: 40%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.shopping-cart-item__information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shopping-cart-item__summary {
  display: flex;
  justify-content: space-around;
}

.shopping-cart-item__delete-button {
  aspect-ratio: 1 / 1;
  width: 15%;
}

.shopping-cart-item__button-icon {
  width: 75%;
  margin: 0 auto;
}

.shopping-cart-item__quantity-input {
  display: flex;
  justify-content: center;
  width: 50%;
}

.shopping-cart-item__button {
  width: 25%;
}

.shopping-cart-item__quantity {
  width: 25%;
  text-align: center;
}

.shopping-cart-inner__checkout {
  background-color: var(--gray);
  width: 100%;
  padding: 1em;
}

.shopping-cart-inner__items-sum,
.shopping-cart-inner__items-discount,
.shopping-cart-inner__items-total-sum {
  display: flex;
  justify-content: space-between;
}

.shopping-cart-inner__items-discount {
  margin-bottom: 0.5em;
}

.shopping-cart-inner__items-total-sum {
  margin-bottom: 2em;
}

.shopping-cart-inner__checkout-button {
  width: 100%;
  padding: 0.625em 0.937em;
  color: var(--white);
  background-color: var(--green);
  border: 1px solid var(--green);
}

.shopping-cart-inner__checkout-button:hover,
.shopping-cart-inner__checkout-button:focus {
  background-color: var(--white);
  color: var(--green);
}

/*=======================
Header search
=======================*/
.header__search-bar-column {
  background-color: orange;
  order: 5;
  flex: 0 0 75%;
}

/*====================================
Header row 3
=====================================*/
.header__row-2 {
  display: flex;
}

/*=======================
Information banner
=======================*/
.header__information-banner {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: var(--gray);
}

.header__information-banner p:nth-child(3),
.header__information-banner p:nth-child(4) {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}

/*=========================================================
MAIN
=========================================================*/
main {
  text-align: center;
  background-color: var(--white);
}

/*====================================
CAMPAIGN SECTION
=====================================*/
.campaign-section {
  margin-bottom: var(--sectionMarginBottom)
}

.campaign-color-wrapper { /* https://www.joshwcomeau.com/gradient-generator/ */
  padding: var(--standardPadding);
  width: 100%;
  background-image: linear-gradient(
    210deg,
    hsl(339deg 60% 67%) 0%,
    hsl(342deg 63% 71%) 1%,
    hsl(344deg 65% 75%) 4%,
    hsl(347deg 67% 79%) 9%,
    hsl(349deg 70% 82%) 21%,
    hsl(352deg 72% 86%) 53%,
    hsl(354, 100%, 98%) 75%,
    hsl(0, 0%, 100%) 87%,
    hsl(0, 0%, 100%) 95%,
    hsl(0, 0%, 100%) 100%
  );
}

/*=======================
Campaign carousel
=======================*/
.carousel {
  position: relative;
}

.carousel__container {
  display: flex;
  min-width: 70%;
  max-width: 90%;
  margin: 0 auto;
}

.carousel__product-card {
  background-color: var(--white);
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 0.4em;
  flex: 0 0 auto;
}

.carousel__indicator {
  padding: 0.625em 0;
}

.carousel__next-button,
.carousel__previous-button {
  padding: 0.8em;
  border-radius: 50%;
  border-style: none;
  background: transparent;
  position: absolute;
  z-index: 9;
}

.carousel__next-button {
  right: 0.3em;
  top: 50%;
  transform: translateY(-50%);
  order: 3;
}

.carousel__next-button::before { /* https://codepen.io/reacraf/pen/ZPqRKV/ */
  content: " ";
  border-right: 2px solid var(--black);
  border-top: 2px solid var(--black);
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  display: block;
}

.carousel__next-button:hover::before,
.carousel__next-button:focus::before {
  scale: 1.1;
  border-right: 2px solid var(--black);
  border-top: 2px solid var(--black);
}

.carousel__previous-button {
  left: 0.3em;
  top: 50%;
  transform: translateY(-50%);
  order: 0;
}

.carousel__previous-button::before {
  content: " ";
  border-left: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
}

.carousel__previous-button:hover::before {
  scale: 1.1;
  border-left: 2px solid var(--green);
  border-bottom: 2px solid var(--green);
}

.carousel__next-button:focus,
.carousel__previous-button:focus {
  background-color: var(--focus);
}

.carousel__indicator-number {
  order: 0;
}
/*====================================
POPULAR CATEGORIES SECTION
=====================================*/
.popular-categories-section {
  background-color: var(--white);
  padding: var(--standardPadding);
  margin-bottom: var(--sectionMarginBottom);
}

.popular-categories__card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.category-card {
  padding: 1em;
}

.category-card__image {
  aspect-ratio: 2 / 1;
  width: 100%;
  object-fit: cover;
}

.category-card__details {
  align-self: center;
}

/*====================================
POPULAR PRODUCTS SECTION
=====================================*/
.popular-products-section {
 padding: var(--standardPadding);
 margin-bottom: var(--sectionMarginBottom);
}

.popular-products__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.product-card--popular {
  width: 45%;
  padding: 0.7em;
  background-color: rgb(236, 236, 236);
}

.product-card__button--popular {
  padding: 5px 10px;
}

/*====================================
FEATURED SECTION
=====================================*/
.featured-section {
  margin-bottom: var(--sectionMarginBottom);
  padding: var(--standardPadding);
}

.featured-card__image {
  aspect-ratio: 2 / 1;
  width: 100%;
  object-fit: cover;
  max-height: 200px;
  margin-bottom: 0.5em;
}

.featured-card__details {
  margin-bottom: 2em;
}

.featured-card {
  margin-bottom: 3em;
}

.featured-card__details h3 {
  font-weight: 400;
}

/*====================================
DISCOVER MORE SECTION
=====================================*/
.discover-more-section {
  margin-bottom: var(--sectionMarginBottom);
  padding: var(--standardPadding);
}

.discover-more__cards-container {
  margin: 0 auto;
}

.discover-card {
  padding: var(--standardPadding);
  background: white;
  background-color: var(--gray);
  margin-bottom: 1.4em;
}

.discover-card__image {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.discover-card__title {
  margin-bottom: 0.5em;
}

.discover-card__details {
  margin-bottom: 1.7em;
}

.discover-card__copy {
  margin-bottom: 1.7em;
}

.discover-card__link-button {
  padding: 0.625em 0.937em;
  background-color: var(--green);
  border: 1px solid var(--green);
  color: white
}

.discover-card__link-button:hover,
.discover-card__link-button:focus {
  background-color: var(--white);
  color: var(--green);
}

/*====================================
SERVICES SECTION
=====================================*/
.services-section {
  margin-bottom: var(--sectionMarginBottom);
  padding: var(--standardPadding)
}

.services-card {
  margin-bottom: 3em;
}

.services-card__details {
  padding: 1em;
}

.services-card__image {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  max-height: 150px;
  margin: 0 auto;
}

.services-card__link {
  text-decoration: underline;
  color: rgb(0 42 209);
}

/*====================================
PRODUCT SEARCH SECTION
=====================================*/
.product-search-section {
  background: var(--gray);
  padding: var(--standardPadding);
}

.product-search__details {
  margin-bottom: 1em;
}

.search-bar--product {
  margin-bottom: .7em;
}

.search-bar__input--product {
  width: 80%;
}

.product-search__link {
  text-decoration: underline;
  color: rgb(0, 31, 153);
}

/*=========================================================
FOOTER
=========================================================*/
.footer {
  padding: var(--standardPadding);
  padding-bottom: 0;
  background: var(--black);
  position: relative;
  bottom: 0;
}

.footer__header {
  position: relative;
  color: var(--white);
  padding-bottom: 0.6em;
  margin-bottom: 1em;
}

.footer__header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 36px;
  border-bottom: 3px solid var(--white);
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  margin-bottom: 0.5em;
}

.footer li:last-child {
  margin-bottom: 2em;
}

.footer__link {
  text-decoration: none;
  color: var(--gray);
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline 2px var(--white);
} 

.footer__social-media ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


.footer__hr {
  border: none;
  height: 1px;
  background-color: var(--gray);
  margin-bottom: 2rem;
}

.footer__badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4em;
}

.copyright {
  padding: 1em;
  text-align: center;
}

/*==============================================================================
MEDIA QUERY
==============================================================================*/
/*=========================================================
SMALL/MEDIUM SCREENS
=========================================================*/
@media (min-width: 501px) and (max-width: 800px) {
  :root {
    --standardPadding: 1.5em;
  }
  .header__row-1 {
    background-color: aqua;
  }

  /*=========================================================
  Header Small/Medium screens
  =========================================================*/
  /*====================================
  header row 1 s/m screens
  =====================================*/
  .header__row-1 {
    padding: 0.625em 0;
    gap: 5px;
  }

  /*=======================
  navigation s/m screens
  =======================*/
  .header__navigation-column { 
    flex: 0 0 40%;
  }

  .nav-toggle-button {
    padding: 0.625em;
    margin-left: 0.3em
  }

  .nav-toggle-button__icon {
    width: 30px;
  }

  .nav {
    width: 100%;
    padding: 10px;
  }

  .nav__links {
    margin: 0;
    padding: 0.2em;
  }

  .nav__link {
    margin-bottom: 1em;
  }

  .nav__dropdown-button {
    width: 50%;
  }

  .nav__dropdown {
    padding: 0.3em 0 0 0.8em;
  }

  .nav__dropdown li {
    margin-bottom: 0.5em;
  }

  /*=======================
  logo s/m screens
  =======================*/
  .header__logo-column {
    /* flex: 0 0 10%; */
    align-self: center;
  }

  .logo {
    width: 50px;
    margin: 0;
    padding: 0;
  }

  /*=======================
  shopping cart s/m screens
  =======================*/
  .header__shopping-cart-utility-column {
    justify-content: end;
    background-color: blueviolet; /* Debug */
    flex: 0 0 40%;
  }

  .header__reveal-search-button {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .shopping-cart-outer__button {
    width: 50px;
    background: none;
    border: none;
    margin-right: 0.3em
  }

  .shopping-cart-outer__quantity-indicator {
    top: -14px;
    right: 41%;
  }

  .shopping-cart-inner {
    max-width: 350px;
    height: 100vh;
  }

  .shopping-cart-inner__title{
    padding-left: 1em;
  }

  .shopping-cart-inner__close-button {
    justify-content: space-around;
    align-items: center;
    padding: 1.2em 1.6em;
    width: 33%;
  }

  .shopping-cart-inner__item-container {
    padding: 1em;
  }

  .shopping-cart-item {
    margin-bottom: 2em;
  }

  .shopping-cart-item::after {
    bottom: -1em;
  }

  .shopping-cart-item__image {
    width: 40%;
    object-fit: cover;
    margin-right: 10px;
  }

  .shopping-cart-item__delete-button {
    width: 15%;
  }

  .shopping-cart-item__button-icon {
    width: 75%;
  }

  .shopping-cart-item__quantity-input {
    width: 50%;
  }

  .shopping-cart-item__button {
    width: 25%;
  }

  .shopping-cart-item__quantity {
    width: 25%;
  }

  .shopping-cart-inner__checkout {
    padding: 1em;
  }

  .shopping-cart-inner__items-discount {
    margin-bottom: 0.5em;
  }

  .shopping-cart-inner__items-total-sum {
    margin-bottom: 2em;
  }

  .shopping-cart-inner__checkout-button {
    width: 100%;
    padding: 0.625em 0.937em;
  }

  /*=======================
  header search s/m screens
  =======================*/
  .header__search-bar-column {
    background-color: orange; /* Debug */
    order: 5;
    flex: 0 0 75%;
  }

  /*====================================
  header row 2 s/m screens
  =====================================*/
  /*=======================
  information banner s/m screens
  =======================*/
  .header__information-banner {
    width: 100%;
  }

  .header__information-banner p:nth-child(3),
  .header__information-banner p:nth-child(4) {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
  }

  /*=========================================================
  Main s/m screens
  =========================================================*/
  /*====================================
  campaign section s/m screens
  =====================================*/
  .campaign-section {
    margin-bottom: var(--sectionMarginBottom)
  }

  /*=======================
  campaign carousel s/m screens
  =======================*/
  .carousel {
    max-width: 65%;
    margin: 0 auto;
  }

  .carousel__container {
    min-width: 70%;
    max-width: 90%;
  }

  .carousel__product-card {
    margin: 0 auto;
    padding: 1em;
    max-width: 70%;
    margin-bottom: 0.4em;
  }

  .carousel__next-button,
  .carousel__previous-button {
    padding: 0.8em;
    border-radius: 50%;
  }


  .carousel__next-button::before,
  .carousel__previous-button::before {
    width: 20px;
    height: 20px;
  }

  /*====================================
  popular categories section s/m screens
  =====================================*/
  .popular-categories-section {
    padding: var(--standardPadding);
    margin-bottom: var(--sectionMarginBottom);
  }

  .popular-categories__card-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .category-card {
    padding: 1em;
    width: 40%;
  }

  /*====================================
  popular products section s/m screens
  =====================================*/
  .popular-products-section {
  padding: var(--standardPadding);
  margin-bottom: var(--sectionMarginBottom);
  }

  .popular-products__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .product-card--popular {
    width: 30%;
    padding: 0.7em;
  }

  .product-card__button--popular {
    padding: 5px 10px;
  }

  /*====================================
  featured section s/m screens
  =====================================*/
  .featured-section {
    margin-bottom: var(--sectionMarginBottom);
    padding: var(--standardPadding);
  }

  .featured__container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4em;
  }

  .featured-card{
    width: 40%;
    margin-bottom: 0;
  }

  .featured-card__image {
    aspect-ratio: 2 / 1;
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    margin-bottom: 0.5em;
  }

  .featured-card__details {
    margin-bottom: 2em;
  }

  .featured-card {
    margin-bottom: 3em;
  }

  /*====================================
  discover more section s/m screens
  =====================================*/
  .discover-more-section {
    margin-bottom: var(--sectionMarginBottom);
    padding: var(--standardPadding);
  }

  .discover-more__cards-container {
    margin: 0 auto;
  }

  .discover-card {
    padding: var(--standardPadding);
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .discover-card__image {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    margin-bottom: 0.5em;
  }

  .discover-card__title {
    margin-bottom: 0.5em;
  }

  .discover-card__details {
    margin-bottom: 1.7em;
  }

  .discover-card__copy {
    margin-bottom: 1.7em;
  }

  .discover-card__link-button {
    padding: 0.625em 0.937em;
  }

  /*====================================
  services section s/m screens
  =====================================*/
  .services-section {
    margin-bottom: var(--sectionMarginBottom);
    padding: var(--standardPadding)
  }

  .services__card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .services-card {
    width: 62%;
    margin: 0 auto;
    margin-bottom: 3em;
  }

  .services-card__details {
    padding: 1em;
  }

  .services-card__image {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    max-height: 150px;
    margin: 0 auto;
  }

  /*====================================
  product search section s/m screens
  =====================================*/
  .product-search-section {
    background: var(--gray);
    padding: var(--standardPadding);
  }

  .product-search__details {
    margin-bottom: 1em;
  }

  .search-bar--product {
    margin-bottom: .7em;
  }

  .search-bar__input--product {
    width: 80%;
  }

  /*=========================================================
  footer s/m screens
  =========================================================*/
  .footer {
    padding: var(--standardPadding);
    padding-bottom: 0;
  }

  .footer__header {
    padding-bottom: 0.6em;
    margin-bottom: 1em;
  }

  .footer__header::after {
    width: 36px;
  }

  .footer li {
    margin-bottom: 0.5em;
  }

  .footer li:last-child {
    margin-bottom: 2em;
  }

  .footer__social-media ul {
    width: 100%;
  }

  .social-media-icon {
    margin-right: 0.5em;
  }

  .footer__hr {
    margin-bottom: 2rem;
  }

  .footer__badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4em;
  }

  .copyright {
    padding: 1em;
  }

  .footer__category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }
}

/*=========================================================
MEDIUM/LARGE SCREENS
=========================================================*/
@media (min-width: 801px) and (max-width: 1200px) {
  :root {
    --standardPadding: 1.5em;
    --largeScreenMargin: 0 auto var(--sectionMarginBottom);
  }
  .header__row-1 {
    background-color: burlywood; /* Debug */
  }

  /*=========================================================
  Header m/l screens
  =========================================================*/
  /*====================================
  header row 1 m/l screens
  =====================================*/
  .header__row-1 {
    justify-content: space-around;
    padding: 0.625em 0;
    gap: 5px;
  }

  /*=======================
  navigation m/l screens
  =======================*/
  .header__navigation-column { 
    flex: 0 0 40%;
    padding-left: 2.5%;
  }

  .nav-toggle-button {
    padding: 0.625em;
    margin-left: 0.3em
  }

  .nav-toggle-button__icon {
    width: 30px;
  }

  .nav {
    max-width: 450px;
    padding: 0;
    top: 0;
  }

  .nav__close-button {
    display: flex;
    position: relative;

    font-size: .875rem;
    font-weight: 700;
    color: white;
  }

  .nav__menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5em ;
    align-content: space-around;
  }

  .nav__link {
    width: 100%;
  }

  .nav__link-title {
    font-size: 1rem;
  }

  .nav__link-details {

    width: 100%;
  }

  .nav__dropdown {
    padding: 1em;
    margin: 0;
    width: 100%;
    z-index: 9;
  }

  .nav__dropdown li {
    margin-bottom: 0.5em;
  }

  /*=======================
  logo m/l screens
  =======================*/
  .header__logo-column {
    flex: 0 0 auto;
    margin: 0 auto;

  }

  .logo {
    width: 65px;
    margin: 0;
    padding: 0;
  }

  /*=======================
  shopping cart m/l screens
  =======================*/
  .header__shopping-cart-utility-column {
    justify-content: end;
    background-color: blueviolet; /* Debug */
    flex: 0 0 5%;
    order: 5;
    padding-right: 2.5%;
  }

  .header__reveal-search-button {
    display: none;
  }

  .shopping-cart-outer__button {
    width: 50px;
    background: none;
    border: none;
    margin-right: 0.3em
  }

  .shopping-cart-outer__quantity-indicator {
    top: -14px;
    right: 41%;
  }

  .shopping-cart-inner {
    max-width: 350px;
    height: 100vh;
  }

  .shopping-cart-inner__title{
    padding-left: 1em;
  }

  .shopping-cart-inner__close-button {
    justify-content: space-around;
    align-items: center;
    padding: 1.2em 1.6em;
    width: 33%;
  }

  .shopping-cart-inner__item-container {
    padding: 1em;
  }

  .shopping-cart-item {
    margin-bottom: 2em;
  }

  .shopping-cart-item::after {
    bottom: -1em;
  }

  .shopping-cart-item__image {
    width: 40%;
    object-fit: cover;
    margin-right: 10px;
  }

  .shopping-cart-item__delete-button {
    width: 15%;
  }

  .shopping-cart-item__button-icon {
    width: 75%;
  }

  .shopping-cart-item__quantity-input {
    width: 50%;
  }

  .shopping-cart-item__button {
    width: 25%;
  }

  .shopping-cart-item__quantity {
    width: 25%;
  }

  .shopping-cart-inner__checkout {
    padding: 1em;
  }

  .shopping-cart-inner__items-discount {
    margin-bottom: 0.5em;
  }

  .shopping-cart-inner__items-total-sum {
    margin-bottom: 2em;
  }

  .shopping-cart-inner__checkout-button {
    width: 100%;
    padding: 0.625em 0.937em;
  }

  /*=======================
  header search m/l screens
  =======================*/
  .header__search-bar-column {
    background-color: orange; /* Debug */
    order: 5;
    flex: 0 0 35%;
  }

  /*====================================
  header row 2 m/l screens
  =====================================*/
  /*=======================
  information banner m/l screens
  =======================*/
  .header__row-2 {
    order: -1;
  }
  .header__information-banner {
    width: 100%;
  }

  .header__information-banner p:nth-child(3),
  .header__information-banner p:nth-child(4) {
    position:unset; 
    overflow: auto; 
    clip: unset; 
    height: unset; 
    width: unset; 
    margin: 0; 
    padding: 0; 
    border: 0; 
  }

  /*=========================================================
  Main m/l screens
  =========================================================*/
  /*====================================
  campaign section m/l screens
  =====================================*/
  .campaign-section {
    margin-bottom: var(--sectionMarginBottom);
    
  }

  .campaign-section__description {
    width: 50%;
    margin: 0 auto 2em;
  }

  /*=======================
  campaign carousel m/l screens
  =======================*/
  .carousel {
    max-width: 330px;
    margin: 0 auto;
  }

  .carousel__container {
    width: 100%;
  }

  .product-card--carousel {
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    margin-bottom: 0.4em;
  }

  .carousel__next-button,
  .carousel__previous-button {
    padding: 5%;
    border-radius: 50%;
  }

  .carousel__next-button::before,
  .carousel__previous-button::before {
    width: 20px;
    height: 20px;
  }

  /*====================================
  popular categories section m/l screens
  =====================================*/
  .popular-categories-section {
    padding: var(--standardPadding);
    margin-bottom: var(--sectionMarginBottom);
  }

  .popular-categories__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-card {
    padding: 1em;
    width: 20%;
  }

  .category-card__image {
    aspect-ratio: 2.3 / 1;
    width: 100%;
    object-fit: cover;
  }

  /*====================================
  popular products section m/l screens
  =====================================*/
  .popular-products-section {
  padding: var(--standardPadding);
  margin-bottom: var(--sectionMarginBottom);
  }

  .popular-products__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .product-card--popular {
    max-width: 200px;
    padding: 0.7em;
  }

  .product-card__button--popular {
    padding: 5px 10px;
  }

  /*====================================
  featured section m/l screens
  =====================================*/
  .featured-section {
    margin-bottom: var(--sectionMarginBottom);
    padding: var(--standardPadding);
  }

  .featured__container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .featured-card{
    width: 40%;
    margin-bottom: 0;
  }

  .featured-card__image {
    aspect-ratio: 2 / 1;
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    margin-bottom: 0.5em;
  }

  .featured-card__details {
    margin-bottom: 2em;
  }

  .featured-card {
    width: 30%;
    margin-bottom: 3em;
  }

  /*====================================
  discover more section m/l screens
  =====================================*/
  .discover-more-section {
    padding: var(--standardPadding);
    margin: var(--largeScreenMargin);
    width: 70%;
  }

  .discover-more__cards-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .discover-card {
    display: flex;
    justify-content: space-around;
    padding: var(--standardPadding);
    width: 100%;
    margin-bottom: 2em;
  }

  .discover-card__image {
    width: 40%;
    aspect-ratio: 1 / 1;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .discover-card__title {
    margin-bottom: 0.5em;
  }

  .discover-card__details {
    width: 45%;
    margin-bottom: 0;
  }

  .discover-card__copy {
    margin-bottom: 1.7em;
  }

  .discover-card__link-button {
    padding: 0.625em 0.937em;
  }

  /*====================================
  services section m/l screens
  =====================================*/
  .services-section {
    margin-bottom: var(--sectionMarginBottom);
    padding: var(--standardPadding)
  }

  .services__card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .services-card {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }

  .services-card__details {
    padding: 1em;
  }

  .services-card__image {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    max-height: 150px;
    margin: 0 auto;
  }

  /*====================================
  product search section m/l screens
  =====================================*/
  .product-search-section {
    background: var(--gray);
    padding: var(--standardPadding);
  }

  .product-search__details {
    margin-bottom: 1em;
  }

  .search-bar--product {
    margin-bottom: .7em;
  }

  .search-bar__input--product {
    width: 45%;
  }

  /*=========================================================
  footer m/l screens
  =========================================================*/
  .footer {
    padding: var(--standardPadding);
    padding-bottom: 0;
  }

  .footer__header {
    padding-bottom: 0.6em;
    margin-bottom: 1em;
  }

  .footer__header::after {
    width: 36px;
  }

  .footer li {
    margin-bottom: 0.5em;
  }

  .footer li:last-child {
    margin-bottom: 2em;
  }

  .footer__social-media ul {
    width: 100%;
  }

  .social-media-icon {
    margin-right: 0.5em;
  }

  .footer__hr {
    margin-bottom: 2rem;
  }

  .footer__badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4em;
  }

  .copyright {
    padding: 1em;
  }

  .footer__category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }
}

/*=========================================================
LARGE SCREENS
=========================================================*/
@media (min-width: 1201px) {
  :root {
    --standardPadding: 2em;
    --sectionMarginBottom: 1em;
    --largeScreenMargin: 0 auto var(--sectionMarginBottom);
  }
  .header__row-1 {
    background-color: olivedrab /* Debug */
  }

  /*=========================================================
  Header large screens
  =========================================================*/
  /*====================================
  header row 1 large screens
  =====================================*/
  .header__row-1 {
    justify-content: space-around;
    padding: 0.625em 0;
    gap: 5px;
    padding-left: 2.5%;
  }

  /*=======================
  navigation large screens
  =======================*/
  .header__navigation-column { 
    flex: 0 0 40%;

    display: flex;
  }

  .nav-toggle-button {
    padding: 0.625em;
    margin-left: 0.3em;
    display: none;
  }

  .nav-toggle-button__icon {
    width: 30px;
  }

  .nav {
    width: 100%;
    padding: 0;
    top: 0;

    background-color: transparent;

    position: relative;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .nav__close-button {
    display: none;
  }

  .nav__menu-header {
    display: none;
  }

  .nav__links {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.5em ;
    align-items: baseline;
    justify-content: space-between;
    position: unset;


  }

  .nav__link {
    width: 100%;
    margin-bottom: 0;
    position: unset;
    
  }

/*   .nav__link:nth-child(4),
  .nav__link:nth-child(5) {
    display: none;
  } */

  .nav__link-title {
    font-size: 0.9rem;
  }

  .nav__link-details {
    display: flex;
    width: 100%;
  }

  .nav__dropdown-button {
    display: none;
  }

  .nav__dropdown {
    padding: 1em;
    margin: 0;
    width: 100%;
    z-index: 9;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav__dropdown li {
    margin-bottom: 0.5em;
    margin-right: 24px;
  }

  /*=======================
  logo large screens
  =======================*/
  .header__logo-column {
    flex: 0 0 auto;
    margin: 0 auto;
  }

  .logo {
    width: 80px;
    margin: 0;
    padding: 0;
  }

  /*=======================
  shopping cart large screens
  =======================*/
  .header__shopping-cart-utility-column {
    justify-content: end;
    background-color: blueviolet; /* Debug */
    flex: 0 0 5%;
    order: 5;
    padding-right: 2.5%;
  }

  .header__reveal-search-button {
    display: none;
  }

  .shopping-cart-outer__button {
    width: 50px;
    background: none;
    border: none;
    margin-right: 0.3em
  }

  .shopping-cart-outer__quantity-indicator {
    top: -14px;
    right: 41%;
  }

  .shopping-cart-inner {
    max-width: 350px;
    height: 100vh;
  }

  .shopping-cart-inner__title{
    padding-left: 1em;
  }

  .shopping-cart-inner__close-button {
    justify-content: space-around;
    align-items: center;
    padding: 1.2em 1.6em;
    width: 33%;
  }

  .shopping-cart-inner__item-container {
    padding: 1em;
  }

  .shopping-cart-item {
    margin-bottom: 2em;
  }

  .shopping-cart-item::after {
    bottom: -1em;
  }

  .shopping-cart-item__image {
    width: 40%;
    object-fit: cover;
    margin-right: 10px;
  }

  .shopping-cart-item__delete-button {
    width: 15%;
  }

  .shopping-cart-item__button-icon {
    width: 75%;
  }

  .shopping-cart-item__quantity-input {
    width: 50%;
  }

  .shopping-cart-item__button {
    width: 25%;
  }

  .shopping-cart-item__quantity {
    width: 25%;
  }

  .shopping-cart-inner__checkout {
    padding: 1em;
  }

  .shopping-cart-inner__items-discount {
    margin-bottom: 0.5em;
  }

  .shopping-cart-inner__items-total-sum {
    margin-bottom: 2em;
  }

  .shopping-cart-inner__checkout-button {
    width: 100%;
    padding: 0.625em 0.937em;
  }

  /*=======================
  header search large screens
  =======================*/
  .header__search-bar-column {
    background-color: orange; /* Debug */
    order: 5;
    flex: 0 0 35%;
  }

  /*====================================
  header row 2 large screens
  =====================================*/
  /*=======================
  information banner large screens
  =======================*/
  .header__row-2 {
    order: -1;
  }
  .header__information-banner {
    width: 100%;
  }

  .header__information-banner p:nth-child(3),
  .header__information-banner p:nth-child(4) {
    position:unset; 
    overflow: auto; 
    clip: unset; 
    height: unset; 
    width: unset; 
    margin: 0; 
    padding: 0; 
    border: 0; 
  }

  /*=========================================================
  Main large screens
  =========================================================*/
  /*====================================
  campaign section large screens
  =====================================*/
  .campaign-section {
    margin-bottom: var(--sectionMarginBottom);

  }

  .campaign-color-wrapper {
    padding: 3em 9em 3em 9em;
  }

  .campaign-section__description {
    width: 50%;
    margin: 0 auto 2em;
  }
  /*=======================
  campaign carousel large screens
  =======================*/
  .carousel {
    max-width: 370px;
    margin: 0 auto;
  }

  .carousel__container {
    width: 100%;
  }

  .product-card--carousel {
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    margin-bottom: 0.4em;
  }

  .carousel__next-button,
  .carousel__previous-button {
    padding: 5%;
    border-radius: 50%;
  }

  .carousel__next-button::before,
  .carousel__previous-button::before {
    width: 20px;
    height: 20px;
  }

  /*====================================
  popular categories section large screens
  =====================================*/
  .popular-categories-section {
    padding: var(--standardPadding);
    margin: var(--largeScreenMargin);
    width: 70%;
  }

  .popular-categories__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-card {
    padding: 1em;
    width: 20%;
  }

  .category-card__image {
    aspect-ratio: 2.3 / 1;
    width: 100%;
    object-fit: cover;
  }

  /*====================================
  popular products section large screens
  =====================================*/
  .popular-products-section {
    padding: var(--standardPadding);
    margin: var(--largeScreenMargin);
    width: 70%;
  }

  .popular-products__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .product-card--popular {
    max-width: 200px;
    padding: 0.7em;
  }

  .product-card__button--popular {
    padding: 5px 10px;
  }

  /*====================================
  featured section large screens
  =====================================*/
  .featured-section {
    padding: var(--standardPadding);
    margin: var(--largeScreenMargin);
    width: 70%;
  }

  .featured__container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .featured-card{
    width: 40%;
    margin-bottom: 0;
  }

  .featured-card__image {
    aspect-ratio: 2 / 1;
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    margin-bottom: 0.5em;
  }

  .featured-card__details {
    margin-bottom: 2em;
  }

  .featured-card {
    width: 30%;
    margin-bottom: 3em;
  }

  /*====================================
  discover more section large screens
  =====================================*/
  .discover-more-section {
    padding: var(--standardPadding);
    margin: var(--largeScreenMargin);
    width: 70%;
  }

  .discover-more__cards-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .discover-card {
    display: flex;
    justify-content: space-between;
    padding: var(--standardPadding);
    width: 100%;
    max-width: 750px;
    margin-bottom: 2em;
  }

  .discover-card__image {
    width: 40%;
    
    aspect-ratio: 1 / 1;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .discover-card__title {
    margin-bottom: 0.5em;
  }

  .discover-card__details {
    width: 45%;
    margin-bottom: 0;
  }

  .discover-card__copy {
    margin-bottom: 1.7em;
  }

  .discover-card__link-button {
    padding: 0.625em 0.937em;
  }

  /*====================================
  services section large screens
  =====================================*/
  .services-section {
    padding: var(--standardPadding);
    margin: var(--largeScreenMargin);
    width: 70%;
  }

  .services__card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .services-card {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }

  .services-card__details {
    padding: 1em;
  }

  .services-card__image {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    max-height: 150px;
    margin: 0 auto;
  }

  /*====================================
  product search section large screens
  =====================================*/
  .product-search-section {
    background: var(--gray);
    padding: var(--standardPadding);
  }

  .product-search__details {
    margin-bottom: 1em;
  }

  .search-bar--product {
    margin-bottom: .7em;
  }

  .search-bar__input--product {
    width: 30%;
  }

  /*=========================================================
  footer large screens
  =========================================================*/
  .footer {
    padding: var(--standardPadding);
    padding-bottom: 0;
  }

  .footer__header {
    padding-bottom: 0.6em;
    margin-bottom: 1em;
  }

  .footer__header::after {
    width: 36px;
  }

  .footer li {
    margin-bottom: 0.5em;
  }

  .footer li:last-child {
    margin-bottom: 2em;
  }

  .footer__social-media ul {
    width: 100%;
  }

  .social-media-icon {
    margin-right: 0.5em;
  }

  .footer__hr {
    margin-bottom: 2rem;
  }

  .footer__badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4em;
  }

  .copyright {
    padding: 1em;
  }

  .footer__category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }
}





/*==============================================================================
UTILITY
==============================================================================*/
.bold-text {
  font-weight: 700;
}

/* https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
.is-not-visible {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}

.big-title {
  font-size: 2rem;
  margin-bottom: 2em;
}

.margin-right {
  margin-right: 6px;
}


/* https://www.w3schools.com/howto/howto_css_overlay.asp */
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/* https://www.geeksforgeeks.org/how-to-disable-scrolling-temporarily-using-javascript/ */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}